plugins:
  secret:
    cmd: "{{ getenv `DOTFILES` }}/bin/df.secrets"
    args:
      - "get"
{{- range $bin := (file.ReadDir (filepath.Join (getenv `DOTFILES`) "bin")) }}
{{- if (strings.HasPrefix "df." $bin) }}
  {{ strings.ReplaceAll "." "_" $bin }}:
    cmd: "{{ getenv `DOTFILES` }}/bin/{{ $bin }}"
{{- end }}
{{- end }}
{{- $tplIn := getenv "DF_CONFIG_TPL_IN" }}
{{- if strings.Contains "/" $tplIn }}
{{- $baseDir := filepath.Join (getenv "DOTFILES") "assets/templates" (index (strings.Split "/" $tplIn) 0) }}
{{- if file.IsDir (filepath.Join $baseDir "partials") }}
templates:
  tpls: "{{ $baseDir }}/partials/"
{{- end }}
{{- end }}
