#!/bin/bash
# Update desktop database
{{ template "shell/script_utils.sh.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (not .is_termux) -}}
if command -v update-desktop-database >/dev/null 2>&1; then
  info "Updating desktop database..."
  update-desktop-database "${HOME}/.local/share/applications"
fi
{{- end }}
