{
  "$schema": "https://opencode.ai/config.json",
  "permission": {
    "external_directory": "allow",
    "skill": "allow"
  },
  "instructions": [
    "CRUSH.md",
    "GEMINI.md",
    "docs/guidelines.md",
    ".cursor/rules/*.md",
    "AI.md",
    ".github/copilot-instructions.md"
  ],
  "mcp": {{ .mcp_servers | toPrettyJson }},
  "model": "{env:OPENCODE_MODEL}",
  "provider": {
    {{- $first := true }}
    {{- range $providerName, $provider := .providers }}
      {{- if eq $provider.type "openai_compat" }}
        {{- if not $first }},{{- end }}
        {{- $first = false }}
        "{{ $providerName }}": {
          "name": "{{ $provider.name }}",
          "npm": "@ai-sdk/openai-compatible",
          "options": {
            "baseURL": "{{ $provider.openai_credentials.base_url }}"
            {{- if $provider.openai_credentials.api_key }},
            "apiKey": "{{ $provider.openai_credentials.api_key }}"
            {{- end }}
          },
          "models": {
            {{- $modelFirst := true }}
            {{- range $modelKey, $model := $provider.models }}
              {{- if not $modelFirst }},{{- end }}
              {{- $modelFirst = false }}
              "{{ $model.model_name }}": {
                "name": "{{ $model.alias }}"
              }
            {{- end }}
          }
        }
      {{- end }}
    {{- end }}
  }
}
