.git
.github
.gitignore
.gitmodules
README.md
assets/
bin/
bin-old/
install.sh
src/
tmp/
vendor/
.pytest_cache/

{{- if not .is_default_linux -}}
.local/share/applications/antigravity-hub.desktop
.local/share/applications/antigravity-ide.desktop
{{- end -}}