{{- $profile := "" -}}
{{- if hasKey . "profile" -}}
  {{- $profile = .profile -}}
{{- else if stdinIsATTY -}}
  {{- $profile = promptChoiceOnce . "profile" "Select profile" (list "default" "work" "phone") -}}
{{- else -}}
  {{- $profile = "default" -}}
{{- end -}}

{{- $is_termux := false -}}
{{- if stat "/data/data/com.termux/files/usr/bin" -}}
  {{- $is_termux = true -}}
{{- end -}}

{{- $sys_manager := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $sys_manager = "brew" -}}
{{- else if $is_termux -}}
  {{- $sys_manager = "termux" -}}
{{- else if eq .chezmoi.os "linux" -}}
  {{- if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
    {{- $sys_manager = "apt" -}}
  {{- else if eq .chezmoi.osRelease.id "fedora" -}}
    {{- $sys_manager = "dnf" -}}
  {{- else if eq .chezmoi.osRelease.id "arch" -}}
    {{- $sys_manager = "pacman" -}}
  {{- end -}}
{{- end -}}

{{- $git_name := "" -}}
{{- if hasKey . "git_name" -}}
  {{- $git_name = .git_name -}}
{{- else if stdinIsATTY -}}
  {{- $git_name = promptStringOnce . "git_name" "Git User Name" -}}
{{- else -}}
  {{- $git_name = "CI Test" -}}
{{- end -}}

{{- $git_email := "" -}}
{{- if hasKey . "git_email" -}}
  {{- $git_email = .git_email -}}
{{- else if stdinIsATTY -}}
  {{- $git_email = promptStringOnce . "git_email" "Git User Email" -}}
{{- else -}}
  {{- $git_email = "ci@example.com" -}}
{{- end -}}

[data]
    profile = {{ $profile | quote }}
    is_termux = {{ $is_termux }}
    sys_manager = {{ $sys_manager | quote }}
    ai_config_dir = "{{ .chezmoi.homeDir }}/src/ai-config"
    git_name = {{ $git_name | quote }}
    git_email = {{ $git_email | quote }}
