[submodule "vendor/warpcode.vim-config"]
	path = vendor/warpcode.vim-config
	url = https://github.com/warpcode/vim-config.git
	branch = master
[submodule "vendor/ohmyzsh"]
	path = vendor/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "src/zsh/ohmyzsh-custom/zsh-autosuggestions"]
	path = src/zsh/ohmyzsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "src/zsh/ohmyzsh-custom/themes/powerlevel10k"]
	path = src/zsh/ohmyzsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
