# .zshrc managed by Chezmoi

# Load dotfiles
export DOTFILES="{{ .chezmoi.sourceDir }}"
if [[ -f "${DOTFILES}/src/zsh/init.zsh" ]]; then
    source "${DOTFILES}/src/zsh/init.zsh"
fi

# Load local overrides
if [[ -f ~/.zshrc.local ]]; then
    source ~/.zshrc.local
fi
