# .zshrc managed by Chezmoi

# Load dotfiles
export DOTFILES="{{ .chezmoi.sourceDir }}"
export DOTFILES_PROFILE="{{ .profile }}"
export KEEPASS_DB_PATH="{{ .keepass_db }}"

if [[ -f "${HOME}/.zsh/init.zsh" ]]; then
    source "${HOME}/.zsh/init.zsh"
fi

# Load local overrides
if [[ -f ~/.zshrc.local ]]; then
    source ~/.zshrc.local
fi
