{
  "$schema": "https://opencode.ai/config.json",
  "permission": {
    "external_directory": "allow",
    "skill": "allow"
  },
  "instructions": [
    "CRUSH.md",
    "GEMINI.md",
    "docs/guidelines.md",
    ".cursor/rules/*.md",
    "AI.md",
    ".github/copilot-instructions.md"
  ],
  "mcp": {{ .config.mcps | toJSON }},
  {{- if .config.selected_model }}
  "model": "{{ .config.selected_model }}",
  {{- else }}
  "model": "{env:OPENCODE_MODEL}",
  {{- end }}
  "plugin": [
    "oh-my-openagent@latest"
  ],
  "provider": {{ .config.providers | toJSON }}
}
