# IgnoreUnknown options that may not exist on older SSH versions
# AddKeysToAgent requires OpenSSH 7.2+, UseKeychain is macOS-only
IgnoreUnknown AddKeysToAgent,UseKeychain

AddKeysToAgent yes
PubkeyAuthentication yes
ServerAliveInterval 60
UseKeychain yes

{{- range (default (list) .hosts) }}
Host {{ .name }}
    HostName {{ .hostname }}
    User {{ .user | default $.chezmoi.username }}
    {{- if .identity_file }}
    IdentityFile {{ .identity_file }}
    {{- end }}
    {{- if .is_dss }}
    PubkeyAcceptedKeyTypes +ssh-dss
    {{- end }}
{{ end -}}
