{{- /* Expects: dict "data" .data "key" string "val" string "result" .result */ -}}
{{- $allow_key := printf "%s_allow" .key -}}
{{- $deny_key := printf "%s_deny" .key -}}
{{- if kindIs "slice" .data -}}
  {{- $filtered := list -}}
  {{- range $item := .data -}}
    {{- $allowed := true -}}
    {{- if hasKey $item $deny_key -}}
      {{- if has $.val (index $item $deny_key) }}{{ $allowed = false }}{{ end -}}
    {{- end -}}
    {{- if and $allowed (hasKey $item $allow_key) -}}
      {{- if not (has $.val (index $item $allow_key)) }}{{ $allowed = false }}{{ end -}}
    {{- end -}}
    {{- if $allowed -}}
      {{- $cleaned := omit $item $allow_key $deny_key -}}
      {{- $filtered = append $filtered $cleaned -}}
    {{- end -}}
  {{- end -}}
  {{- $_ := set .result "value" $filtered -}}
{{- else if kindIs "map" .data -}}
  {{- $filtered := dict -}}
  {{- range $k, $item := .data -}}
    {{- $allowed := true -}}
    {{- if hasKey $item $deny_key -}}
      {{- if has $.val (index $item $deny_key) }}{{ $allowed = false }}{{ end -}}
    {{- end -}}
    {{- if and $allowed (hasKey $item $allow_key) -}}
      {{- if not (has $.val (index $item $allow_key)) }}{{ $allowed = false }}{{ end -}}
    {{- end -}}
    {{- if $allowed -}}
      {{- $cleaned := omit $item $allow_key $deny_key -}}
      {{- $_ := set $filtered $k $cleaned -}}
    {{- end -}}
  {{- end -}}
  {{- $_ := set .result "value" $filtered -}}
{{- end -}}
