{{- $configPath := joinPath .chezmoi.homeDir ".gemini/config/config.json" -}}
{{- $remoteControlEnabled := true -}}
{{- $hasRemoteControlHostname := false -}}
{{- $remoteControlHostname := "" -}}
{{- if stat $configPath -}}
  {{- $existingConfig := include $configPath | fromJson -}}
  {{- if hasKey $existingConfig "userSettings" -}}
    {{- $existingUserSettings := index $existingConfig "userSettings" -}}
    {{- if hasKey $existingUserSettings "remoteControlEnabled" -}}
      {{- $remoteControlEnabled = index $existingUserSettings "remoteControlEnabled" -}}
    {{- else if hasKey $existingConfig "remoteControlEnabled" -}}
      {{- $remoteControlEnabled = index $existingConfig "remoteControlEnabled" -}}
    {{- end -}}
    {{- if hasKey $existingUserSettings "remoteControlHostname" -}}
      {{- $hasRemoteControlHostname = true -}}
      {{- $remoteControlHostname = index $existingUserSettings "remoteControlHostname" -}}
    {{- else if hasKey $existingConfig "remoteControlHostname" -}}
      {{- $hasRemoteControlHostname = true -}}
      {{- $remoteControlHostname = index $existingConfig "remoteControlHostname" -}}
    {{- end -}}
  {{- else -}}
    {{- if hasKey $existingConfig "remoteControlEnabled" -}}
      {{- $remoteControlEnabled = index $existingConfig "remoteControlEnabled" -}}
    {{- end -}}
    {{- if hasKey $existingConfig "remoteControlHostname" -}}
      {{- $hasRemoteControlHostname = true -}}
      {{- $remoteControlHostname = index $existingConfig "remoteControlHostname" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{
  "model": "Gemini 3.8 Flash (Medium)",
  "enableTelemetry": false,
  "statusLine": {
    "type": "",
    "command": "",
    "enabled": true
  },
  "toolPermission": "proceed-in-sandbox",
  "trustedWorkspaces": [
    "{{ .chezmoi.sourceDir }}"
  ],
  "userSettings": {
    {{- if $hasRemoteControlHostname }}
    "remoteControlHostname": {{ $remoteControlHostname | toJson }},
    {{- end }}
    "remoteControlEnabled": {{ $remoteControlEnabled }},
    {{ template "commands/antigravity.tmpl" . }}
  },
  "useAiCredits": false
}