{{- $configPath := joinPath .chezmoi.homeDir ".gemini/config/config.json" -}}
{{- $hasUserSettings := false -}}
{{- $userSettings := dict -}}
{{- if stat $configPath -}}
  {{- $existingConfig := include $configPath | fromJson -}}
  {{- if hasKey $existingConfig "userSettings" -}}
    {{- $hasUserSettings = true -}}
    {{- $userSettings = index $existingConfig "userSettings" -}}
  {{- end -}}
{{- end -}}
{
  "model": "Gemini 3.8 Flash (Medium)",
  "enableTelemetry": false,
  {{ template "commands/antigravity.tmpl" . }},
  "remoteControlEnabled": true,
  "runningLightSpeed": "fast",
  "statusLine": {
    "type": "",
    "command": "",
    "enabled": true
  },
  "toolPermission": "proceed-in-sandbox",
  "trustedWorkspaces": [
    "{{ .chezmoi.sourceDir }}"
  ],
  {{ if $hasUserSettings -}}
  "userSettings": {{ $userSettings | toPrettyJson "  " | trim | indent 2 | trimPrefix "  " }},
  {{- end }}
  "useAiCredits": false
}