[settings]
experimental = true

[tools]
{{- $is_termux := .is_termux -}}
{{- $sys_manager := .sys_manager -}}

{{- $has_snap := false -}}
{{- if lookPath "snap" -}}
  {{- $has_snap = true -}}
{{- end -}}

{{- $hierarchy := list -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $hierarchy = list "brew_cask" "brew" "mise" "npm" -}}
{{- else if $is_termux -}}
  {{- $hierarchy = list "termux" "npm" -}}
{{- else if eq .chezmoi.os "linux" -}}
  {{- if $has_snap -}}
    {{- $hierarchy = list "flatpak" "snap" "mise" "npm" $sys_manager -}}
  {{- else -}}
    {{- $hierarchy = list "flatpak" "mise" "npm" $sys_manager -}}
  {{- end -}}
{{- end -}}

{{- $res := dict -}}
{{- template "profiles/filter.tmpl" (dict "data" .packages "profile" .profile "result" $res) -}}
{{- range $group, $pkgs := $res.value }}
  {{- range $pkg := $pkgs }}
    {{- $resolved_mgr := "" -}}
    {{- $resolved_val := "" -}}
    {{- range $mgr := $hierarchy -}}
      {{- if and (eq $resolved_mgr "") (hasKey $pkg $mgr) -}}
        {{- $resolved_mgr = $mgr -}}
        {{- $resolved_val = index $pkg $mgr -}}
      {{- end -}}
    {{- end -}}
    {{- if eq $resolved_mgr "mise" -}}
      {{- $parts := splitList "@" $resolved_val -}}
      {{- $tool := index $parts 0 -}}
      {{- $version := "latest" -}}
      {{- if gt (len $parts) 1 -}}
        {{- $version = index $parts 1 -}}
      {{- end }}
{{ $tool }} = "{{ $version }}"
    {{- end -}}
  {{- end -}}
{{- end }}
