[settings]
experimental = true

[tools]
{{- $filterRes := dict -}}
{{- template "packages/filter.tmpl" (dict 
      "packages" .packages 
      "profile" .profile 
      "os_detected" .os_detected 
      "package_managers" .package_managers 
      "result" $filterRes) -}}
{{- range $p := index $filterRes.value "mise" -}}
  {{- $parts := splitList "@" $p -}}
  {{- $tool := index $parts 0 -}}
  {{- $version := "latest" -}}
  {{- if gt (len $parts) 1 -}}
    {{- $version = index $parts 1 -}}
  {{- end }}
{{ $tool }} = "{{ $version }}"
{{- end }}
