[Desktop Entry]
Name=Antigravity IDE
Exec={{ .chezmoi.homeDir }}/.local/bin/antigravity-ide
Icon={{ .chezmoi.homeDir }}/.local/opt/antigravity-ide/resources/app/resources/linux/code.png
Type=Application
Categories=Development;
Comment=Antigravity IDE AI-Powered Code Editor
Terminal=false
