# auto indent: (Meta-I) to toggle
set autoindent

# Use ctrl+j to justify the paragraph, meta+j to justify all the file, and ctrl+u to undo the justification
set brackets ""')>]}"

# use meta+altgr+9 (i.e meta+] ) to switch between the matching brackets
set matchbrackets "(]}"

# Mouse support (Meta-M)
#set mouse

# Scroll line by line rather than in chunks
set smooth

#disable automatic line wrapping
set nowrap
