{{- $profile := .profile -}}
{{- $mcp_data := .mcp -}}
{{- if and (hasKey . "group") (ne .group "all") -}}
  {{- $mcp_data = index .mcp .group -}}
{{- end -}}
{{- $res := dict -}}
{{- template "profiles/filter.tmpl" (dict "data" $mcp_data "profile" $profile "result" $res) -}}
{{- $res.value | toPrettyJson -}}
