{{- if eq .chezmoi.os "linux" -}}
  {{- if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
    # Docker repo
    if ! command -v docker >/dev/null 2>&1; then
      info "Configuring Docker repository..."
      curl -fsSL "https://download.docker.com/linux/${id}/gpg" | run_as_root tee /etc/apt/keyrings/docker.asc >/dev/null
      run_as_root chmod a+r /etc/apt/keyrings/docker.asc
      printf 'deb [arch=%s signed-by=%s] %s %s stable\n' "${arch}" "/etc/apt/keyrings/docker.asc" "https://download.docker.com/linux/${id}" "${version_codename}" | run_as_root tee /etc/apt/sources.list.d/docker.list > /dev/null
    fi
  {{- end -}}
{{- end -}}
