{{- if eq .chezmoi.os "linux" -}}
  {{- if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
    # Github CLI repo
    if [[ ! -f /etc/apt/keyrings/githubcli-archive-keyring.gpg ]]; then
      echo "Configuring GitHub CLI repository..."
      curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | run_as_root tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null
      printf 'deb [arch=%s signed-by=%s] %s stable main\n' "${arch}" "/etc/apt/keyrings/githubcli-archive-keyring.gpg" "https://cli.github.com/packages" | run_as_root tee /etc/apt/sources.list.d/github-cli.list > /dev/null
    fi
  {{- end -}}
{{- end -}}
