{{- if eq .chezmoi.os "linux" -}}
  {{- if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
    # VS Code repo
    if [[ ! -f /etc/apt/sources.list.d/vscode.list ]]; then
      echo "Configuring VS Code repository..."
      curl -fsSL https://packages.microsoft.com/keys/microsoft.asc | run_as_root gpg --dearmor --yes -o /etc/apt/keyrings/packages.microsoft.gpg 2>/dev/null || true
      printf 'deb [arch=amd64,arm64,armhf signed-by=%s] %s stable main\n' "/etc/apt/keyrings/packages.microsoft.gpg" "https://packages.microsoft.com/repos/code" | run_as_root tee /etc/apt/sources.list.d/vscode.list > /dev/null
    fi
  {{- else if eq .chezmoi.osRelease.id "fedora" -}}
    # VS Code repo
    if [[ ! -f /etc/yum.repos.d/vscode.repo ]]; then
      echo "Configuring VS Code repository..."
      run_as_root tee /etc/yum.repos.d/vscode.repo << 'EOF' >/dev/null
[code]
name=Visual Studio Code
baseurl=https://packages.microsoft.com/yumrepos/vscode
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc
EOF
    fi
  {{- end -}}
{{- end -}}
