{{- $result := dict -}}
{{- template "profiles/filter.tmpl" (dict "data" .secrets.registry "profile" .profile "result" $result) -}}
{{- dict "defaults" .secrets.defaults "registry" $result.value | toPrettyJson -}}
