---
name: Test Dotfiles
on:
  push:
    paths:
      - 'src/**/*.zsh'
      - 'Makefile'
      - '.gitmodules'
      - '.stow-local-ignore'
  pull_request:
    paths:
      - 'src/**/*.zsh'
      - 'Makefile'
      - '.gitmodules'
      - '.stow-local-ignore'

jobs:
  test-linux:
    name: test-linux-${{ matrix.container }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - ubuntu:latest
          - debian:latest
          - fedora:latest
          - archlinux:latest
    container: ${{ matrix.container }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}

    steps:
      # Install required dependencies
      - name: Install dependencies
        run: |
          if command -v apt-get >/dev/null 2>&1; then
            apt-get update -qq && \
              apt-get install -y -qq sudo zsh stow git jq wget curl make
          elif command -v dnf >/dev/null 2>&1; then
            dnf update -y -q && \
              dnf install -y -q sudo zsh stow git jq wget curl make
          elif command -v pacman >/dev/null 2>&1; then
            pacman -Syu --noconfirm --quiet sudo zsh stow git jq wget curl make
          else
            echo "Unsupported package manager"
            exit 1
          fi

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Configure git to use HTTPS instead of SSH
      - name: Configure git
        run: |
          git config --global \
            url."https://github.com/".insteadOf git@github.com:
          git config --global --add safe.directory "$(pwd)"

      # Install dotfiles using make (as root)
      - name: Install dotfiles
        run: |
          make install-generic

      # Install additional dependencies using df.install
      - name: Install additional dependencies
        run: |
          zsh -c '
            source ~/.zshrc
            _installer_install
          '

  test-macos:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}

    steps:
      # Install Homebrew
      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      # Install required dependencies
      - name: Install dependencies
        run: |
          brew update
          brew install zsh stow git jq wget curl make

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Configure git to use HTTPS instead of SSH
      - name: Configure git
        run: |
          git config --global \
            url."https://github.com/".insteadOf git@github.com:

      # Install dotfiles using make
      - name: Install dotfiles
        run: |
          pwd
          ls -al
          make install-generic

      # Install additional dependencies using df.install
      - name: Install additional dependencies
        run: |
          zsh -c '
            source ~/.zshrc
            _installer_install
          '
